
<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/button.css')}}">
    
</head>
<body>


    <div class="product">
        <img src="https://m.media-amazon.com/images/I/71e9f-EU2WL._SX679_.jpg">
        <h2>Asus 15</h2>
        <p>ASUS VivoBook 15 (2022), Intel®Core™ i3-1215U 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (8GB/512 SSD//Windows 11/Office 2021//Backlit KB/Icelight Silver/1.7 kg), X1502ZA-EJ322WS</p>
        <p><strong>Price: 60000</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/41l6mE-MJtL._SX300_SY300_QL70_FMwebp_.jpg">
        <h2>Asus 17</h2>
        <p>ASUS 17, Intel Core i5-1235U 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (8GB RAM/512GB SSD/Windows 11 Home/Office 2021/Backlit Keyboard/Quiet Blue/1.7 kg), X1504ZA-NJ521WS</p>
        <p><strong>Price: 70000</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/81UWgnVKDBL._SX679_.jpg">
        <h2>Asus 19</h2>
        <p>ASUS TUF Gaming F19, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg)</p>
        <p><strong>Price: 80000</strong></p>
        <button>Add to Cart</button>
    </div>

    <!-- You can add more product divs here if you have multiple products -->
<a href = "/">Back To Home Page</a>
</body>


</html>
