<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/button.css')}}">
</head>
<body>


    <div class="product">
        <img src="https://m.media-amazon.com/images/I/71PgIV4vvdL._UY741_.jpg">
        <h2>Unisex Laptop</h2>
        <p>Unisex aptop Backpack/College Bagpack/Office Back Pack | Laptop Bag for Men and Women With premium lock sequrity</p>
        <p><strong>Price: 90000</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/81jUoEoET1L._AC_CR0%2C0%2C0%2C0_SX480_SY420_.jpg">
        <h2>NEWHEY</h2>
        <p>Laptop Backpack 17 Inch Business Travel Backpacks for Men Women</p>
        <p><strong>Price: 7,635</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/71d-jk5LgKL._SY879_.jpg">
        <h2>Gosyong</h2>
        <p>NOMATIC Travel Pack- Black Water Resistant Anti-Theft 30L Flight Approved Carry on Laptop Bag Computer Backpack</p>
        <p><strong>Price: 54,178</strong></p>
        <button>Add to Cart</button>
    </div><br>

    <!-- You can add more product divs here if you have multiple products -->
<a href = "/">Back To Home Page</a>

</body>


</html>
