<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/button.css')}}">
</head>
<body>


    <div class="product">
        <img src="https://m.media-amazon.com/images/I/61iAuMHxT3L._AC_UY226_.jpg">
        <h2>Wayona 3in1</h2>
        <p>Wayona 3in1 Nylon Braided 66W USB Fast Charging Cable with Type C, Lightening and Micro USB Port, Compatible with iPhone, iPad, Samsung Galaxy, OnePlus, Mi, Oppo, Vivo, iQOO, Xiaomi (1M, Grey) (2m , Grey)</p>
        <p><strong>Price: 600</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/611Cw7cPKxS._AC_UY500_.jpg">
        <h2>Boat</h2>
        <p>boAt Micro -Axis USB Cable with 180 Rotating Connector, 3A Fast Carging, 10000+ Bends Lifespan & Extended 1.5m Length,OnePlus, Mi, Oppo, Vivo, iQOO</p>
        <p><strong>Price: 1000</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/41JpHwMbvkL._SY445_SX262_QL218_FMwebp_.jpg">
        <h2>Gosyong</h2>
        <p>USB Extension Cable 150ft, GOSYSONG USB 2.0 Type A Male to A Female Repeater USB Cable,Long USB Extender </p>
        <p><strong>Price: 29999</strong></p>
        <button>Add to Cart</button>
    </div><br>

    <!-- You can add more product divs here if you have multiple products -->
<a href = "/">Back To Home Page</a>

</body>


</html>
